pip==24.0
nltk==3.8.1
numpy==1.26.4
scipy==1.11.4
pandas==2.0.3
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
gensim==4.3.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
scikit-learn==1.2.2
typing_extensions==4.10.0
